# --- macOS ---
.DS_Store

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual environments ---
.venv/
venv/

# --- Jupyter ---
.ipynb_checkpoints/

# --- Editor / IDE ---
.vscode/
.idea/

# --- OS / misc ---
Thumbs.db

# --- Ignore figures directory ---
figures/